# COMPOSER
composer.lock
composer.phar
/vendor

# IDE
/nbproject

# Logs
/logs
!/logs/.gitkeep

# Repositories
/repositories
!/repositories/.gitkeep

# App
#/app
!/app/.gitkeep
!/app/ExampleCustomMiddleware.php
!/app/ExampleCustomProvider.php

# Config
/config/app.php